src/main/java/ClienJava/1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.2 git-revision#91dd558. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="ListeComptes" type="tns:ListeComptes"/>

<xs:element name="ListeComptesResponse" type="tns:ListeComptesResponse"/>

<xs:element name="compte" type="tns:compte"/>

<xs:element name="conversion" type="tns:conversion"/>

<xs:element name="conversionResponse" type="tns:conversionResponse"/>

<xs:element name="getCompte" type="tns:getCompte"/>

<xs:element name="getCompteResponse" type="tns:getCompteResponse"/>

<xs:complexType name="ListeComptes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ListeComptesResponse">
<xs:sequence>
<xs:element name="return" type="tns:compte" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="compte">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="conversion">
<xs:sequence>
<xs:element name="montant" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="conversionResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCompte">
<xs:sequence>
<xs:element name="code" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCompteResponse">
<xs:sequence>
<xs:element name="return" type="tns:compte" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>